<!doctype html>
<html>
<head>
	<title>Information</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<script src="/javascripts/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.css">
	<link rel="text/javascript" href="/javascripts/semantic.js">
	<link rel="stylesheet" href="/stylesheets/semantic.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="t6dab94nlinm1c2"></script>
    <script src="/js/info.js"></script>
    <script src="/javascripts/countdown.js"></script>
	<script src="/js/dropbox.js"></script>
	<style>
		
	</style>
</head>
<body ng-app="infoApp" ng-controller="ArithCtrl">

<div class="pusher">

	<div class="ui grid centered" style="padding-top:30px">

		<div class="ui grid center aligned" style="padding-top:20px">
			<div class="ui centered aligned">
				<h1 class="ui header center aligned"><i class="ui icon anchor"></i> &nbsp;NTU Economics Admin Panel</h1>
				<h4 class="ui blue header center aligned"><i class="ui icon star"></i> &nbsp;&nbsp;&nbsp;噢！ 呱呱&nbsp; 你今天好嗎？</h4>
			</div>
		</div>
		<script>
			$("#click").click(function(){
				console.log('click')
				$('.test.modal').modal('show');				
				console.log('click2')
			})
			$('button .mini').click(function(){
				alert('噢！呱呱！')
			})
		</script>
		
		<!-- LOCAL INFORMATION -->
		<div class="ui grid centered" style="padding-top:30px">

			<div class="twelve wide column">
				<div class="ui secondary pointing menu">
				  	<a class=" item" href="/">
				    	<i class="home icon"></i> 首頁
				  	</a>
				  	<a class=" item" href="#">
				    	<i class="treatment icon"></i> Q&A
				  	</a>
				  	<button class="btn btn-danger mini" type="button" on-click="gogo">
					  Unread <span class="badge"><%=count%></span>
					</button>
				  	<div class="right menu">
				    	<div class="item">
				    		<div class="ui icon input">
						        <input type="text" placeholder="請輸入學號或姓名" id="input">
						        <i class="search link icon" id="submit"></i>
						    </div>
				    		<form action="/search" method="post" id="getId" hidden=1>
				    			<div class="ui search">
								  	<div class="ui icon input thin">
								    	<input class="prompt" type="text" placeholder="Common passwords..." name="input" id="sync">
								    	<i class="search icon"></i>
								  	</div>
								  	<div class="results"></div>
								</div>
					      		<script>
					      		$("#submit").click(function(){
					      			console.log($("#input").val())
					      			var input = $("#input").val()
					      			$("#sync").val(input);
					      			console.log($("sync").val())
									$("#getId").submit();
								});
					      		</script>
				      		</form>
				    	</div>
					</div>
				</div>
				<table class="ui table striped">
		            <thead>
		            	<tr>
			                <th class="two wide">Name</th>
			                <th class=" collapsing">Student ID</th>
			                <th>Contact</th>
			                <th>Subject</th>
			                <th>Comment</th>
			                <th class="three wide">Create Time</th>
			                <th>Read</th>
		                </tr>
		            </thead>
		            <tbody>
	                	<% suggestion.forEach( function (sug){ %>
		                <tr>
		                    <td> <%= sug.name %> </td> 
		                    <td> <%= sug.student_id %></td>
		                    <td> <%= sug.contact  %></td>
		                    <td> <%= sug.subject %> </td>
		                    <td> <%= sug.comment %> </td>
		                    <td> <%= sug.Date.toDateString() %> </td>
		                    <td>
			                    <a href="/read/<%=sug._id%>">
									<% if (sug.read) { %>
										---
									<% } else { %>
										Mark as Read
									<% } %>
			                	</a>
		                	</td>
			            </tr>
		                <% }); %>
		            </tbody>
	            </table>
		        <table class="ui table striped">
		            <thead>
		            	<tr>
			                <th>Question</th>
			                <th>Answer</th>
			                <th>Category</th>
			                <th>Que</th>
			                <th>Edit</th>
			                <th>Delete</th>
		                </tr>
		            </thead>
		            <tbody>
	                	<% qa.forEach( function (qa){ %>
		                <tr>
		                    <td> <%=qa.question%></td>
		                    <td> <%=qa.answer%> </td>
		                    <td> <%=qa.category%></td>
		                    <td>  <%=qa.que%> </td>
		                    <td> <a href="/editQA/<%=qa._id%>" id="edit">Edit</a></td>
		                    <td> <a href="/deleteQA/<%=qa._id%>">Delete</a> </td>
			            </tr>
		                <% }); %>
		                <form action="/createQA" method="post" class="ui form">
		                	<tr>
			                    <td> <input type="text" name="question"> </td> 
			                    <td> <input type="text" name="answer"> </td>
			                    <td><input type="text" name="category"></td>
			                    <td> <input type="text" name="que"> </td>
			                    <td colspan=2> <button type="submit" class="ui button">Submit</button> </td>
				            </tr>
		                </form>
		            </tbody>
	            </table>    
			</div>
		</div>
	</div>	
	<div class="ui grid centered aligned">
		<div class="sixteen wide column centered center aligned " style="padding-top:150px">
				<p>- Econ Graduates 2015 -</p> <i class="flag tw"></i>
		</div>
	</div>
</div>

