<!doctype html>
<html>
<head>
	<title>Information</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<script src="/javascripts/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.css">
	<link rel="text/javascript" href="/javascripts/semantic.js">
	<link rel="stylesheet" href="/stylesheets/semantic.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="./js/info.js"></script>
    <script src="/javascripts/countdown.js"></script>
	<style>
		
	</style>
</head>
<body>
<div class="ui test modal" id="test">
  <i class="close icon"></i>
  <div class="header">
    Modal Title
  </div>
  <div class="content">
    <div class="image">
      An image can appear on left or an icon
    </div>
    <div class="description">
      A description can appear on the right
    </div>
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <div class="ui button">OK</div>
  </div>
</div>
<!-- Button trigger modal -->
<div class="container">
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	      </div>
	      <form action="/suggest" method="post">
				<input type="text" name="suggest" class="input"></input>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save changes</button>
				</div>
	      </form>
	    </div>
	  </div>
	</div>
</div>

<div class="pusher">

	<div class="ui grid centered" style="padding-top:50px">

		<div class="ui grid center aligned" style="padding-top:50px">
			<div class="ui centered aligned">
				<h1 class="ui header center aligned"><i class="ui icon anchor"></i> &nbsp;NTU Economics</h1>
				<h4 class="ui blue header center aligned"><i class="ui icon star"></i> &nbsp;&nbsp;&nbsp;嗨！ <%= name %>&nbsp; 你今天好嗎？</h4>
				<!--<button type="button" class="btn btn-primary btn-small" data-toggle="modal" data-target="#myModal">Click</button>-->
			</div>
			<div class="five wide column center aligned">
				<h1>距離2015/06/13畢業典禮</h1>
				<div class="ui statistics">
				  <div class="statistic">
				    <div class="value" id="day">
				      
				    </div>
				    <div class="label">
				      Days
				    </div>
				  </div>
				  <div class="statistic">
				    <div class="value" id="hour">
				      
				    </div>
				    <div class="label">
				      Hours
				    </div>
				  </div>
				  <div class="statistic">
				    <div class="value" id="minute">
				      
				    </div>
				    <div class="label">
				      Minutes
				    </div>
				  </div>
				  <div class="statistic">
				    <div class="value" id="second">
				      
				    </div>
				    <div class="label">
				      Second
				    </div>
				  </div>
				</div>
			</div>
		</div>
		<script>


			$("#click").click(function(){
				console.log('click')
				$('.test.modal').modal('show');				
				console.log('click2')

			})
		</script>
		
		<!-- LOCAL INFORMATION -->
		<div class="ui grid centered" style="padding-top:10px">


			<div class="eleven wide column">
				<div class="ui secondary pointing menu">
				  	<a class=" item" href="/">
				    	<i class="home icon"></i> Home
				  	</a>
				  	<div class="right menu">
				    	<div class="item">
				    		<div class="ui icon input">
						        <input type="text" placeholder="請輸入學號或姓名" id="input">
						        <i class="search link icon" id="submit"></i>
						    </div>
				    		<form action="/search" method="post" id="getId" hidden=1>
				    			<div class="ui search">
								  	<div class="ui icon input thin">
								    	<input class="prompt" type="text" placeholder="Common passwords..." name="input" id="sync">
								    	<i class="search icon"></i>
								  	</div>
								  	<div class="results"></div>
								</div>
					      		<script>
					      		$("#submit").click(function(){
					      			console.log($("#input").val())
					      			var input = $("#input").val()
					      			$("#sync").val(input);
					      			console.log($("sync").val())
									$("#getId").submit();
								});
					      		</script>
				      		</form>
				    	</div>

					</div>
				</div>

				<div class="ui grid">
					<div class="five wide column" style="padding-top:0px;margin-left:30px;margin-right:0">
						<h3>
							<i class="ui icon photo"></i>&nbsp;&nbsp;團拍相關
						</h3>
							<% if (groupShotBuy === '照片＆團拍夾' || groupShotBuy === '照片') {%>
							<table class="ui blue table collapsing" >
								<thead>
								    <tr>
										<th class="six wide center aligned">項目</th>
										<!-- <th>Tags</th> -->
										<th class="five wide center aligned">數量</th>
										<th class="five wide center aligned">費用</th>
								    </tr>
							  	</thead>
							  	<tbody>
								    <tr>
								      <td class="collapsing">團拍費用</td>
								      <td class="center aligned">
								      	<% if(groupShot ==='有參與'){%>
								      		<%= gradBookQuantity %>
								      	<% }else{ %>
								      		<i class="large red close icon"></i>
								      	<% } %>
								      </td>
								      <td class="center aligned">
								      	<% if(groupShot ==='有參與'){%>
								      		<i class="dollar icon"></i> 50
								      	<% }else{ %>
								      		<i class="dollar icon"></i> 0
								      	<% } %>
								      </td>
								    </tr>
								    <tr>
								      <td class="collapsing">照片費用</td>
								      <td class="center aligned">
								      	<% if(groupShotBuy ==='照片＆團拍夾' || groupShotBuy === '照片'){%>
								      		<%= gradBookQuantity %>
								      	<% }else{ %>
								      		<i class="large red close icon"></i>
								      	<% } %>
								      </td>
								      <td class="center aligned">
								      	<% if(groupShotBuy ==='照片＆團拍夾' || groupShotBuy === '照片'){%>
								      		<i class="dollar icon"></i> 210
								      	<% }else{ %>
								      		<i class="dollar icon"></i> 0
								      	<% } %>
								      </td>
								    </tr>
								    <tr>
								      <td class="collapsing">團拍夾</td>
								      <td class="center aligned">
								      	<% if(groupShotBuy ==='照片＆團拍夾' || groupShotBuy === '團拍夾'){%>
								      		<%= gradBookQuantity %>
								      	<% }else{ %>
								      		<i class="large red close icon"></i>
								      	<% } %>
								      </td>
								      <td class="center aligned">
								      	<% if(groupShotBuy ==='照片＆團拍夾' || groupShotBuy === '團拍夾'){%>
								      		<i class="dollar icon"></i> 135
								      	<% }else{ %>
								      		<i class="dollar icon"></i> 0
								      	<% } %>
								      </td>
								    </tr>
								    <tr>
								      <td class="collapsing">加洗照片</td>
								      <td></td>
								      <td class="center aligned">
								      	<% if(groupShotAdd ){%>
								      		<i class="dollar icon"></i> ??
								      	<% }else{ %>
								      		<i class="dollar icon"></i> ??
								      	<% } %>
								      </td>
								    </tr>
								    <tr>
								      <td class="collapsing">購買電子檔</td>
								      <td></td>
								      <td class="center aligned">
								      	<% if(groupShotEPhoto){%>
								      		<i class="dollar icon"></i> ??
								      	<% }else{ %>
								      		<i class="dollar icon"></i> ??
								      	<% } %>
								      </td>
								    </tr>
								    <tr class="positive">
								      <td class="collapsing">小計</td>
								      <td class="center aligned"></td>
								      <td></td>
								    </tr>
							  	</tbody>
							</table>
							<% if (!gradBookPay==='o') { %>
							<div class="ui negative message">
								<i class="close icon"></i>
							  <div class="header">
							    尚未繳費
							  </div>
							  <p>請儘速繳款</p>
							</div>						
							<% } else if (gradBook ==='未購買') {%>		
							<div class="ui message">
								<i class="close icon"></i>
							  <div class="header">
							    您未選購畢業紀念冊喔！
							  </div>
							  <p>請儘速繳款</p>
							</div>		
							<% } %>
							<script>
							$('.message .close').on('click', function() {
							  $(this).closest('.message').fadeOut();
							});</script>
							<% } else { %>
								<h2>Please fill in the form！</h2>
							<% } %>
						</div>
						<div class="five wide column" style="padding-top:0px">
							<h3>
								<i class="ui icon book"></i>&nbsp;&nbsp;畢冊相關
							</h3>
								
							<table class="ui blue table collapsing" >
								<thead>
								    <tr>
										<th class="six wide center aligned">項目</th>
										<!-- <th>Tags</th> -->
										<th class="five wide center aligned">數量</th>
										<th class="five wide center aligned">費用</th>
								    </tr>
							  	</thead>
							  	<tbody>
								    <tr>
								      <td class="collapsing">校冊</td>
								      <td class="center aligned">
								      	<% if(gradBook === '套組＆預購禮' || gradBook === '校冊' || gradBook === '套組') { %>
								      		<%= gradBookQuantity %>
								      	<% } else { %>
								      		0
								      	<% } %>
								      </td>
								      <td class="center aligned">
								      	<% if(gradBook === '套組＆預購禮' || gradBook === '套組' || gradBook === '校冊') { %>
								      		<i class="dollar icon"></i> 750
								      	<% } else { %>
								      	<% } %>
								      </td>
								    </tr>
								    <tr>
								      <td class="collapsing">班冊</td>
								      <td class="center aligned">
								      	<% if(gradBook === '套組＆預購禮' || gradBook === '班冊' || gradBook === '套組') { %>
								      		<%= gradBookQuantity %>
								      	<% } else { %>
								      		0
								      	<% } %>
								      </td>
								      <td class="center aligned">
								      	<% if(gradBook === '套組＆預購禮' || gradBook === '套組' || gradBook ==='班冊') { %>
								      		<i class="dollar icon"></i> 750
								      	<% } else { %>
								      	<% } %>
								      </td>
								    </tr>
								    <tr>
								      <td class="collapsing">合購優惠<i class="icon info small very" id="discount1"></i></td>
								      <td class="center aligned">
								      	<% if(gradBook === '套組＆預購禮' || gradBook === '套組') { %>
								      		<%= gradBookQuantity %>
								      	<% } else { %>
								      	<% } %>
								      </td>
								      <td class="center aligned">
								      	<% if(gradBook === '套組＆預購禮' || gradBook === '套組') { %>
								      		<p style="color:red"> － <i class="dollar red icon"></i> 400</p>
								      	<% } else { %>
								      		<p style="color:red"> － <i class="dollar red icon"></i> 0</p>
								      	<% } %>
								      </td>
								    </tr>
								    <tr>
								      <td class="collapsing">預購禮</td>
								      <td class="center aligned">
								      	<% if(gradBook === '套組＆預購禮') { %>
								      		<i class="large green checkmark icon"></i>
								      	<% } else { %>
								      		<i class="large red close icon"></i>
								      	<% } %>
								      </td>
								      <td>
								      	<% if(gradBook === '套組＆預購禮') { %>
								      		精美筆記本
								      	<% } else { %>
								      		您無預購禮喔
								      	<% } %>
								      </td>
								    </tr>
								    <tr class="positive">
									      <td class="collapsing">小計</td>
									      <td></td>
									      <td></td>
									    </tr>
							  	</tbody>
							</table>	
						</div>
						
						<div class="five wide column" style="padding-top:0px">
							<h3>
								<i class="ui icon inbox"></i>&nbsp;&nbsp;繳交資料
							</h3>
								
							<table class="ui blue table collapsing center aligned" >
								<thead>
								    <tr>
										<th class="six wide">項目</th>
										<!-- <th>Tags</th> -->
										<th class="five wide center aligned">是否完成</th>
								    </tr>
							  	</thead>
							  	<tbody>
								    <tr>
								      <td class="collapsing">校冊個人照片</td>
								      <td class="center aligned">
								      	<% if (yearBookPhoto === '合格'){%>
								      		<i class="large green checkmark icon"></i>
								      	<% } else {%>
								      		<i class="large red close icon"></i>
								      	<% } %>
								      </td>
								    </tr>
								    <tr>
								      <td class="collapsing">班冊個人照片</td>
								      <td class="center aligned">
								      	<% if (classBookPhoto === '合格'){%>
								      		<i class="large green checkmark icon"></i>
								      	<% } else {%>
								      		<div class="item">
								      		<i class="large red close icon"></i>
								      		<b>上傳照片</b>
								      		</div>
								      	<% } %>
								      </td>
								    </tr>
								    <tr>
								      <td class="collapsing">團體照片<i class="icon info small very" id="info"></i></td>
								      <td class="center aligned">
								      	<% if (groupShot)%>
								      	<i class="large green checkmark icon"></i>
								      	<% %>
								      </td>
								      
								    </tr>
								    <tr class="positive">
								      <td class="collapsing">小計</td>
								      <td></td>
								    </tr> 
							  	</tbody>
							</table>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui grid centered">
		<div class="sixteen wide column centered center aligned " style="padding-top:150px">
				<p>- Econ Graduates 2015 -</p>
		</div>
		</div>
	</div>
</div>

<script>
(function() {
    var lastTime = 0;
    var vendors = ['ms', 'moz', 'webkit', 'o'];
    for(var x = 0; x < vendors.length && !window.requestAnimationFrame; ++x) {
        window.requestAnimationFrame = window[vendors[x]+'RequestAnimationFrame'];
        window.cancelAnimationFrame = window[vendors[x]+'CancelAnimationFrame'] 
                                   || window[vendors[x]+'CancelRequestAnimationFrame'];
    }
 
    if (!window.requestAnimationFrame)
        window.requestAnimationFrame = function(callback, element) {
            var currTime = new Date().getTime();
            var timeToCall = Math.max(0, 16 - (currTime - lastTime));
            var id = window.setTimeout(function() { callback(currTime + timeToCall); }, 
              timeToCall);
            lastTime = currTime + timeToCall;
            return id;
        };
 
    if (!window.cancelAnimationFrame)
        window.cancelAnimationFrame = function(id) {
            clearTimeout(id);
        };
}());
(function() {
	function byId(id) {
		return document.getElementById(id);
	}
	function update() {

		var start = new Date(2015, 6, 13);

		var month = byId('month'),
			day = byId('day'),
			hour = byId('hour'),
			minute = byId('minute'),
			second = byId('second');
		
		//month.innerHTML = countdown(start,null).months;
		day.innerHTML = countdown(start,null,countdown.DAYS).days;
		hour.innerHTML = countdown(start,null).hours;
		minute.innerHTML = countdown(start,null).minutes;
		second.innerHTML = countdown(start,null,countdown.SECOND,1).seconds;

		requestAnimationFrame(update);
	}
	update();
})();

</script>

</body>


</html>