<!doctype html>
<html>
<head>
	<title>Information</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<script src="/javascripts/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.css">
	<link rel="text/javascript" href="/javascripts/semantic.js">
	<link rel="stylesheet" href="/stylesheets/semantic.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="t6dab94nlinm1c2"></script>
    <script src="/js/info.js"></script>
    <script src="/javascripts/countdown.js"></script>
	<script src="/js/dropbox.js"></script>
	<style>
		
	</style>
</head>
<body ng-app="infoApp" ng-controller="ArithCtrl">
<div class="ui test modal" id="test">
  <i class="close icon"></i>
  <div class="header">
    Modal Title
  </div>
  <div class="content">
    <div class="image">
      An image can appear on left or an icon
    </div>
    <div class="description">
      A description can appear on the right
    </div>
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <div class="ui button">OK</div>
  </div>
</div>
<!-- Button trigger modal -->
<div class="container">
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	      </div>
	      <form action="/suggest" method="post">
				<input type="text" name="suggest" class="input"></input>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save changes</button>
				</div>
	      </form>
	    </div>
	  </div>
	</div>
</div>

<div class="pusher">

	<div class="ui grid centered" style="padding-top:30px">

		<div class="ui grid center aligned" style="padding-top:20px">
			<div class="ui centered aligned">
				<h1 class="ui header center aligned"><i class="ui icon anchor"></i> &nbsp;NTU Economics</h1>
				<h4 class="ui blue header center aligned"><i class="ui icon star"></i> &nbsp;&nbsp;&nbsp;嗨！ <%= name %>&nbsp; 你今天好嗎？</h4>
			</div>
		</div>
		<script>
			$("#click").click(function(){
				console.log('click')
				$('.test.modal').modal('show');				
				console.log('click2')
			})
		</script>
		
		<!-- LOCAL INFORMATION -->
		<div class="ui grid centered" style="padding-top:10px">


			<div class="ten wide column">
				<div class="ui secondary pointing menu">
				  	<a class=" item" href="/">
				    	<i class="home icon"></i> Home
				  	</a>
				  	<div class="right menu">
				    	<div class="item">
				    		<div class="ui icon input">
						        <input type="text" placeholder="請輸入學號或姓名" id="input">
						        <i class="search link icon" id="submit"></i>
						    </div>
				    		<form action="/search" method="post" id="getId" hidden=1>
				    			<div class="ui search">
								  	<div class="ui icon input thin">
								    	<input class="prompt" type="text" placeholder="Common passwords..." name="input" id="sync">
								    	<i class="search icon"></i>
								  	</div>
								  	<div class="results"></div>
								</div>
					      		<script>
					      		$("#submit").click(function(){
					      			console.log($("#input").val())
					      			var input = $("#input").val()
					      			$("#sync").val(input);
					      			console.log($("sync").val())
									$("#getId").submit();
								});
					      		</script>
				      		</form>
				    	</div>
					</div>
				</div>

				<div class="ui grid">
					<div class="five wide column" style="padding-top:0px;margin-left:30px;margin-right:0">
						<h3>
							<i class="ui icon photo"></i>&nbsp;&nbsp;團拍相關
						</h3>
						<table class="ui blue table collapsing" >
							<thead>
							    <tr>
									<th class="six wide center aligned">項目</th>
									<!-- <th>Tags</th> -->
									<th class="five wide center aligned">數量</th>
									<th class="five wide center aligned">費用</th>
							    </tr>
						  	</thead>
						  	<tbody>
							    <tr>
							      <td class="collapsing">團拍費用</td>
							      <td class="center aligned">
							      	<% if(groupShot ==='有參與'){%>
							      		1
							      	<% }else{ %>
							      		0
							      	<% } %>
							      </td>
							      <td class="center aligned">
							      	<% if(groupShot ==='有參與'){%>
							      		$ 50
							      	<% }else{ %>
							      		$ 0
							      	<% } %>
							      </td>
							    </tr>
							    <tr>
							      <td class="collapsing">照片費用</td>
							      <td class="center aligned">
							      	<% if(groupShotBuy ==='照片＆團拍夾' || groupShotBuy === '照片'){%>
							      		1
							      	<% }else{ %>
							      		0
							      	<% } %>
							      </td>
							      <td class="center aligned">
							      	<% if(groupShotBuy ==='照片＆團拍夾' || groupShotBuy === '照片'){%>
							      		$ 210
							      	<% }else{ %>
							      		$ 0
							      	<% } %>
							      </td>
							    </tr>
							    <tr>
							      <td class="collapsing">團拍夾</td>
							      <td class="center aligned">
							      	<% if(groupShotBuy ==='照片＆團拍夾' || groupShotBuy === '團拍夾'){%>
							      		1
							      	<% }else{ %>
							      		0
							      	<% } %>
							      </td>
							      <td class="center aligned">
							      	<% if(groupShotBuy ==='照片＆團拍夾' || groupShotBuy === '團拍夾'){%>
							      		$ 135
							      	<% }else{ %>
							      		$ 0
							      	<% } %>
							      </td>
							    </tr>
							    <tr>
							      <td class="collapsing">加洗照片</td>
							      <td class="center aligned">
							      	<% if (groupShotAdd != '') { %>
							      		<%= groupShotAdd %>
							      	<% } else { %>
										0
							      	<% } %>
							      </td>
							      <td class="center aligned">
							      	<% if(groupShotAdd != '' ){%>
							      		$ <%= groupShotTotal %>
							      	<% }else{ %>
							      		$ 0
							      	<% } %>
							      </td>
							    </tr>
							    <tr>
							      <td class="collapsing">加洗優惠</td>
							      <td class="center aligned">
							      	<% if(groupShotAdd != '') { %>
							      		<%= groupShotAdd %>
							      	<% } else { %>
							      		0
							      	<% } %>
							      </td>
							      <td class="center aligned">
							      	<% if(groupShotAdd != ''){%>
							      		<%= groupShotTotal %>
							      	<% }else{ %>
							      		0
							      	<% } %>
							      </td>
							    </tr>
							    <tr>
							      <td class="collapsing">購買電子檔</td>
							      <td class="center aligned">
							      	<% if(groupShotEPhoto != ''){%>
							      		<%= groupShotEPhoto %>
							      	<% }else{ %>
							      		0
							      	<% } %>
							      </td>
							      <td class="center aligned">
							      	<% if(groupShotEPhoto != ''){%>
							      		<%= groupShotEPhotoTotal %>
							      	<% }else{ %>
							      		0
							      	<% } %>
							      </td>
							    </tr>
							    <tr>
							      <td class="collapsing">合成費用</td>
							      <td class="center aligned">
							      	<% if(groupShotPS != ''){%>
							      		<%= groupShotPS %>
							      	<% }else{ %>
							      		0
							      	<% } %>
							      </td>
							      <td class="center aligned">
							      	<% if(groupShotPS != ''){%>
							      		<%= groupShotPS %>
							      	<% }else{ %>
							      		0
							      	<% } %>
							      </td>
							    </tr>
							    <tr class="positive">
							      <td class="collapsing">小計</td>
							      <td class="center aligned">
							      <!--	<%= groupTotal %> -->
							      </td>
							      <td></td>
							    </tr>
						  	</tbody>
						</table>
						
						<!-- 團拍填表訊息 -->
						<% if(groupShotBuy === '應選購') { %>
							<div class="ui negative message">
								<i class="close icon"></i>
							  <div class="header">
							    您必須選購「照片」或「照片＆團拍夾」
							  </div>
							  <a href="#form1"><button class="ui button" id="form1btn">請點我填表</button></a>
							  <button class="ui red button" id="form1btnclose">關掉表單</button>
							</div>			
							<script>
								$('#form1btn').click(function(){
									$('#form1').removeClass('hidden')
								})
								$('#form1btnclose').click(function(){
									$('#form1').addClass('hidden')
								})
							</script>
						<% } else { %>
							<div class="ui message">
								<i class="close icon"></i>
							  <div class="header">
							    您要加洗或購買電子檔嗎？
							  </div>
							  <a href="#form2"><button class="ui button" id="form2btn" >請點我填表</button></a>
							  <button class="ui red button" id="form2btnclose">關掉表單</button>
							</div>			
							<script>
								$('#form2btn').click(function(){
									$('#form2').removeClass('hidden');
								})
								$('#form2btnclose').click(function(){
									$('#form2').addClass('hidden')
								})
							</script>
						<% } %>
						<!-- 團拍填表訊息 -->
						
					<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ -->

						<!-- 團拍繳費訊息 -->

						<% if( (groupShotBuy === '照片＆團拍夾' || groupShotBuy === '照片') && groupShotPay != 'o') { %>
							<!-- 填表＆未繳費 -->

							<% if( (groupShotAdd != '' || groupShotEPhoto != '') && (groupShotAddPay != 'o' || groupShotEPhotoPay != 'o') ) { %>
							<!-- 填表＆未繳費 & 加洗or電子未繳費 -->
								<div class="ui message">
									<i class="close icon"></i>
								  <div class="header">
								    您還有 <%=groupShotTotal%> + <%=groupShotAddTotal%> + <%=groupShotEPhotoTotal%>  未繳納

								  </div>
								  <div class="content">
								  	<h4>《匯款資訊》</h4>
								  	<p>帳號：154200399235 </p>
									<p>戶名：陳泰宇</p>
									<p>華南銀行台大分行</p>
									<h4>《面交》</h4>
								  	<a href="http://www.facebook.com/lulala123"><i class="ui facebook icon"></i>Lulalachen</a>
								  </div>
								</div>			
							<% } %>
						<% } else { %>
							<% if( (groupShotAdd != '' || groupShotEPhoto != '') && (groupShotAddPay != 'o' || groupShotEPhotoPay != 'o') ) { %>
								<!-- 填表＆已繳費 & 加洗or電子未繳費 -->
									<div class="ui message">
										<i class="close icon"></i>
									  <div class="header">
									    您還有 <%=groupShotTotal%> + <%=groupShotAddTotal%> + <%=groupShotEPhotoTotal%>  未繳納

									  </div>
									  <div class="content">
									  	<h4>《匯款資訊》</h4>
									  	<p>帳號：154200399235 </p>
										<p>戶名：陳泰宇</p>
										<p>華南銀行台大分行</p>
										<h4>《面交》</h4>
									  	<a href="http://www.facebook.com/lulala123"><i class="ui facebook icon"></i>Lulalachen</a>
									  </div>
									</div>			
							<% } %>

						<% } %>
						<!-- 團拍繳費訊息 -->

						<script>
							$('.close.icon').click(function(){
									alert('想逃啊！快交錢！！！！')
								})
							$('.message .close').on('click', function() {
							  $(this).closest('.message').fadeOut();
							});						

							$('#groupPhoto').click(function(){
								$('#form').removeClass('hidden')
							})
						</script>
					</div>
					<div class="five wide column" style="padding-top:0px">
						<h3>
							<i class="ui icon book"></i>&nbsp;&nbsp;畢冊相關
						</h3>
							
						<table class="ui blue table collapsing" >
							<thead>
							    <tr>
									<th class="six wide center aligned">項目</th>
									<!-- <th>Tags</th> -->
									<th class="five wide center aligned">數量</th>
									<th class="five wide center aligned">費用</th>
							    </tr>
						  	</thead>
						  	<tbody>
							    <tr>
							      <td class="collapsing">校冊</td>
							      <td class="center aligned">
							      	<% if(gradBook === '套組＆預購禮' || gradBook === '校冊' || gradBook === '套組') { %>
							      		<%= gradBookQuantity %>
							      	<% } else { %>
							      		0
							      	<% } %>
							      </td>
							      <td class="center aligned">
							      	<% if(gradBook === '套組＆預購禮' || gradBook === '套組' || gradBook === '校冊') { %>
							      		$ 750
							      	<% } else { %>
							      	<% } %>
							      </td>
							    </tr>
							    <tr>
							      <td class="collapsing">班冊</td>
							      <td class="center aligned">
							      	<% if(gradBook === '套組＆預購禮' || gradBook === '班冊' || gradBook === '套組') { %>
							      		<%= gradBookQuantity %>
							      	<% } else { %>
							      		0
							      	<% } %>
							      </td>
							      <td class="center aligned">
							      	<% if(gradBook === '套組＆預購禮' || gradBook === '套組' || gradBook ==='班冊') { %>
							      		$ 750
							      	<% } else { %>
							      	<% } %>
							      </td>
							    </tr>
							    <tr>
							      <td class="collapsing">合購優惠<i class="icon info small very" id="discount1"></i></td>
							      <td class="center aligned">
							      	<% if(gradBook === '套組＆預購禮' || gradBook === '套組') { %>
							      		<%= gradBookQuantity %>
							      	<% } else { %>
							      	<% } %>
							      </td>
							      <td class="center aligned">
							      	<% if(gradBook === '套組＆預購禮' || gradBook === '套組') { %>
							      		($ 400)</p>
							      	<% } else { %>
							      		( $ 0 )</p>
							      	<% } %>
							      </td>
							    </tr>
							    <tr>
							      <td class="collapsing">預購禮</td>
							      <td class="center aligned">
							      	<% if(gradBook === '套組＆預購禮') { %>
							      		<%= gradBookQuantity %>
							      	<% } else { %>
							      		0
							      	<% } %>
							      </td>
							      <td>
							      	<% if(gradBook === '套組＆預購禮') { %>
							      		
							      	<% } else { %>
							      		
							      	<% } %>
							      </td>
							    </tr>
							    <tr class="positive">
								      <td class="collapsing">小計</td>
								      <td></td>
								      <td></td>
								    </tr>
						  	</tbody>
						</table>	


						<!-- 畢冊未繳費-->
						<% if(gradBookPay === 'x' ) { %>
							<div class="ui message">
								<i class="close icon"></i>
							  <div class="header">
							    您還有 <%=gradBookTotal%> 未繳納
							  </div>
							  <div class="content">
							  	<h4>《匯款資訊》</h4>
							  	<p>帳號：347540290460 </p>
								<p>銀行代號：822</p>
								<p>中國信託銀行公館分行</p>
							  </div>
							</div>								
						<% } %>
						<script>
							$('.message .close').on('click', function() {
								$(this).closest('.message').fadeOut();
							});			
						</script>
						<!-- 畢冊未繳費-->

					</div>
					
					<div class="five wide column" style="padding-top:0px">
						<h3>
							<i class="ui icon inbox"></i>&nbsp;&nbsp;繳交資料
						</h3>
							
						<table class="ui blue table collapsing center aligned" >
							<thead>
							    <tr>
									<th class="six wide">項目</th>
									<!-- <th>Tags</th> -->
									<th class="five wide center aligned">是否完成</th>
							    </tr>
						  	</thead>
						  	<tbody>
							    <tr>
							      <td class="collapsing">校冊個人照片</td>
							      <td class="center aligned">
							      	<% if (yearBookPhoto === '合格'){%>
							      		<i class="large green checkmark icon"></i>
							      	<% } else {%>
							      		<i class="large red close icon"></i>
							      	<% } %>
							      </td>
							    </tr>
							    <tr>
							      <td class="collapsing">班冊個人照片</td>
							      <td class="center aligned">
							      	<% if (classBookPhoto === '合格'){%>
							      		<i class="large green checkmark icon"></i>
							      	<% } else {%>
							      		<i class="large red close icon"></i>
							      	<% } %>
							      </td>
							    </tr>
							    <tr>
							      <td class="collapsing">團體照片<i class="icon info small very" id="info"></i></td>
							      <td class="center aligned">
							      	<% if (groupShot) {%>
							      	<i class="large green checkmark icon"></i>
							      	<% }else{%>
							      		<i class="large red close icon"></i>
							      	<% } %>
							      </td>
							      
							    </tr>
						  	</tbody>
						</table>	
					</div>

					<script>
						$('#dropbox').click(function(){
							client.authenticate();
						})
					</script>
				</div>




				<div class="ui grid hidden" id="form1">
					<div class="eight wide column">
						<iframe src="https://docs.google.com/forms/d/1_T_aG8UEJiRKGoniVyTchOM8Dp6oDFq_n4MHKFxnreM/viewform?c=0&w=1" frameborder="0" width="770px" height="720px"></iframe>
					</div>
				</div>
				<div class="ui grid hidden" id="form2">
					<div class="eight wide column">
						<iframe src="https://docs.google.com/forms/d/1D7skTSEK5Oz9tmEkwsQgH1jCQhncfeKMlpXxFE7wzgQ/viewform?usp=send_form" frameborder="0" width="770px" height="720px"></iframe>
					</div>
				</div>




				<div class="ui grid centered">
					<div class="eight wide column">

						  <div class="content">
						    <h1 class="header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;距離&nbsp;2015&nbsp;/&nbsp;06&nbsp;/&nbsp;13&nbsp;畢業典禮</h1>
						   		<div class="ui statistics">
								  <div class="purple statistic">
								    <div class="value" id="day">
								      
								    </div>
								    <div class="label">
								      Days
								    </div>
								  </div>
								  <div class="blue statistic">
								    <div class="value" id="hour">
								      
								    </div>
								    <div class="label">
								      Hours
								    </div>
								  </div>
								  <div class="teal statistic">
								    <div class="value" id="minute">
								      
								    </div>
								    <div class="label">
								      Minutes
								    </div>
								  </div>
								  <div class="red statistic">
								    <div class="value" id="second">
								      
								    </div>
								    <div class="label">
								      Second
								    </div>
								  </div>

								</div>
						  	</div>
						  </div>

					</div>
				</div>
			</div>
		</div>
		
		
		
		<div class="ui grid centered aligned">
			<div class="sixteen wide column centered center aligned " style="padding-top:150px">
					<p>- Econ Graduates 2015 -</p>
			</div>
		</div>
	</div>
</div>

<script>
(function() {
    var lastTime = 0;
    var vendors = ['ms', 'moz', 'webkit', 'o'];
    for(var x = 0; x < vendors.length && !window.requestAnimationFrame; ++x) {
        window.requestAnimationFrame = window[vendors[x]+'RequestAnimationFrame'];
        window.cancelAnimationFrame = window[vendors[x]+'CancelAnimationFrame'] 
                                   || window[vendors[x]+'CancelRequestAnimationFrame'];
    }
 
    if (!window.requestAnimationFrame)
        window.requestAnimationFrame = function(callback, element) {
            var currTime = new Date().getTime();
            var timeToCall = Math.max(0, 16 - (currTime - lastTime));
            var id = window.setTimeout(function() { callback(currTime + timeToCall); }, 
              timeToCall);
            lastTime = currTime + timeToCall;
            return id;
        };
 
    if (!window.cancelAnimationFrame)
        window.cancelAnimationFrame = function(id) {
            clearTimeout(id);
        };
}());
(function() {
	function byId(id) {
		return document.getElementById(id);
	}
	function update() {

		var start = new Date(2015, 6, 13);

		var month = byId('month'),
			day = byId('day'),
			hour = byId('hour'),
			minute = byId('minute'),
			second = byId('second');
		
		//month.innerHTML = countdown(start,null).months;
		day.innerHTML = countdown(start,null,countdown.DAYS).days;
		hour.innerHTML = countdown(start,null).hours;
		minute.innerHTML = countdown(start,null).minutes;
		second.innerHTML = countdown(start,null).seconds;

		requestAnimationFrame(update);
	}
	update();
})();

$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>

</body>


</html>